<h1>Seja bem-vindo, <%= current_user.first_name %>!</h1>

<h3>Aqui estão suas estatísticas até aqui...</h3>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-comments-o"></i></div>
    <div class="count"><%= @user_statistic.total_questions %></div>
    <h3>Total de questões respondidas</h3>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-check-square-o"></i></div>
    <div class="count"><%= @user_statistic.right_questions %></div>
    <h3>Respostas corretas</h3>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-close"></i></div>
    <div class="count"><%= @user_statistic.wrong_questions %></div>
    <h3>Respostas erradas</h3>
  </div>
</div>